[submodule "submodules/dsp"]
	path = submodules/dsp
	url = https://github.com/smiarx/dsp
[submodule "submodules/readerwriterqueue"]
	path = submodules/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "submodules/JUCE"]
	path = submodules/JUCE
	url = https://github.com/juce-framework/JUCE
